@Font-face {
  font-family: "Exo2.0";
  font-style: normal;
  font-weight: 100;

  src: url(../fonts/Exo2.0-Thin.otf) format("opentype");
}

body {
  position: relative;

  min-width: 1280px;
  height: 100vh;
  min-height: 680px;
  margin: 0;
  padding: 0;

  background-color: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 0, 0, 0.0), rgba(0, 0, 0, 0.5)), url(../img/background-pattern.jpg);
  background-position: top left;
  background-repeat: no-repeat, repeat;
  background-size: cover, auto;
  background-attachment: fixed;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.hidden-input {
  display: none;
}

.feed-heading {
  font-family: "Exo2.0", "Arial", sans-serif;
  font-weight: 100;
  font-size: 36px;

  position: absolute;
  color: white;
  top: -70px;
  margin: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.feed-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 1120px;
  min-height: 480px;
  /*background-color: rgba(255, 0, 0, 0.5);*/
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
}

.feed-list__item {
  position: relative;
  width: 320px;
  min-height: 480px;
  /*background-color: rgba(0, 255, 0, 0.5);*/
}

.feed-list__item-background::after {
  position: absolute;
  width: 100%;
  height: calc(100% - 45px);
  display: block;
  box-sizing: border-box;
  background-color: white;
  background-image: url(../img/cat-background.png);
  background-repeat: no-repeat;
  background-position: left -28px bottom -92px;
  border: 4px solid rgba(77, 175, 223, 1);
  border-top: none;
  border-radius: 10px;
  content: "";
  top: 45px;
  left: 0;
  z-index: -2;
}

.feed-list__select-space {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  /*background-color: rgba(125, 125, 125, 0.5);*/
  top: 0;
  z-index: 2;
}

.feed-list__select-space:hover + .feed-list__item-background::after {
  border-color: rgba(11, 193, 233, 1);
}

.feed-list__select-space:hover + .feed-list__item-background .spec-weight {
  background-color: rgba(11, 193, 233, 1);
}

input[id="cat-feed-product-1"]:checked ~ ul label[for="cat-feed-product-1"] + .feed-list__item-background::after,
input[id="cat-feed-product-2"]:checked ~ ul li label[for="cat-feed-product-2"] + .feed-list__item-background::after,
input[id="cat-feed-product-3"]:checked ~ .feed-list__item-background::after {
  border-color: rgba(217, 22, 103, 1);
}


input[id="cat-feed-product-1"]:checked ~  ul label[for="cat-feed-product-1"]:hover + .feed-list__item-background::after,
input[id="cat-feed-product-2"]:checked ~  ul label[for="cat-feed-product-2"]:hover + .feed-list__item-background::after,
input[id="cat-feed-product-3"]:checked ~ .feed-list__item-background:hover::after {
  border-color: rgba(230, 46, 122, 1);
}

input[id="cat-feed-product-1"]:disabled ~ ul label[for="cat-feed-product-1"] + .feed-list__item-background::after,
input[id="cat-feed-product-2"]:disabled ~ ul li label[for="cat-feed-product-2"] + .feed-list__item-background::after,
input[id="cat-feed-product-3"]:disabled ~ ul li label[for="cat-feed-product-3"] + .feed-list__item-background::after,
input[id="cat-feed-product-1"]:disabled ~ ul label[for="cat-feed-product-1"]:hover + .feed-list__item-background::after,
input[id="cat-feed-product-2"]:disabled ~ ul label[for="cat-feed-product-2"]:hover + .feed-list__item-background::after,
input[id="cat-feed-product-3"]:disabled ~ ul label[for="cat-feed-product-3"]:hover + {
  border-color: rgba(103, 103, 103, 1);
}

input[id="cat-feed-product-1"]:checked ~ ul label[for="cat-feed-product-1"] + .feed-list__item-background .spec-weight,
input[id="cat-feed-product-2"]:checked ~ ul label[for="cat-feed-product-2"] + .feed-list__item-background .spec-weight,
input[id="cat-feed-product-3"]:checked ~ .feed-list__item-background .spec-weight {
  background-color: rgba(217, 22, 103, 1);
}

input[id="cat-feed-product-1"]:checked ~ ul label[for="cat-feed-product-1"]:hover + .feed-list__item-background .spec-weight,
input[id="cat-feed-product-2"]:checked ~ ul label[for="cat-feed-product-2"]:hover + .feed-list__item-background .spec-weight,
input[id="cat-feed-product-3"]:checked ~ .feed-list__item-background:hover .spec-weight {
  background-color: rgba(230, 46, 122, 1);
}

input[id="cat-feed-product-1"]:disabled ~ ul label[for="cat-feed-product-1"] + .feed-list__item-background .spec-weight,
input[id="cat-feed-product-2"]:disabled ~ ul label[for="cat-feed-product-2"] + .feed-list__item-background .spec-weight,
input[id="cat-feed-product-3"]:disabled ~ ul label[for="cat-feed-product-3"] + .feed-list__item-background .spec-weight,
input[id="cat-feed-product-1"]:disabled ~ ul label[for="cat-feed-product-1"]:hover + .feed-list__item-background .spec-weight,
input[id="cat-feed-product-2"]:disabled ~ ul label[for="cat-feed-product-2"]:hover + .feed-list__item-background .spec-weight,
input[id="cat-feed-product-3"]:disabled ~ ul label[for="cat-feed-product-3"]:hover + .feed-list__item-background .spec-weight {
  background-color: rgba(103, 103, 103, 1);
}

input[id="cat-feed-product-1"]:disabled ~ ul label[for="cat-feed-product-1"],
input[id="cat-feed-product-2"]:disabled ~ ul label[for="cat-feed-product-2"],
input[id="cat-feed-product-3"]:disabled ~ ul label[for="cat-feed-product-3"] {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.spec-heading {
  display: none;
}

.spec-feature tr {
  display: flex;
  width: 100%;
  height: inherit;
  flex-direction: column;
}

.spec-feature td {
  margin-left: 40px;
  font-family: "Trebuchet MS", "Tahoma", sans-serif;
  display: inline-block;
}

.spec-feature .spec-name {
  font-size: 48px;
  line-height: 48px;
  order: 2;
  margin-top: 8px;
  letter-spacing: 0.035em;
}

.spec-feature .spec-subname {
  font-size: 24px;
  line-height: 24px;
  order: 3;
  margin-top: 2px;
  letter-spacing: 0.025em;
}

.spec-feature .spec-servings,
.spec-feature .spec-slogan {
  font-size: 14px;
  line-height: 16px;
  color: rgba(102, 102, 102, 1);
  order: 4;
}

.spec-feature .spec-servings {
  margin-top: 15px;
  margin-bottom: 265px;
}

.spec-feature .spec-weight,
.spec-feature .spec-weight-unit-measurement {
  order: 5;
  display: block;
  position: absolute;
  bottom: 12px;
  right: 11px;
  margin: 0;
  color: white;
  width: 78px;
  text-align: center;
}

.spec-feature .spec-weight {
  background-color: rgba(77, 175, 223, 1);
  border-radius: 100%;
  height: 78px;
  font-size: 42px;
  line-height: 64px;

}

.spec-feature .spec-weight-unit-measurement {
  order: 6;
  bottom: 18px;
  font-size: 21px;
  line-height: 22px;
}

/*fix it*/
.spec-agit li {
  font-size: 13px;
  /*display: block;*/
  position: absolute;
  bottom: -34px;
  color: white;
  line-height: 16px;
  left: 0;
  width: calc(100% + 8px);
  text-align: center;
  text-shadow: 0 1px 0 black;
}


/*fix*/
.spec-agit, .spec-agit--selected,
.spec-agit, .spec-agit--disabled {
  display: none;
}

input[id="cat-feed-product-2"]:checked ~ ul label[for="cat-feed-product-2"] + .feed-list__item-background::after .spec-agit--selected,
input[id="cat-feed-product-2"]:disabled ~ ul label[for="cat-feed-product-2"] + .feed-list__item-background::after .spec-agit--disabled,
input[id="cat-feed-product-1"]:checked ~ ul label[for="cat-feed-product-1"] + .feed-list__item-background::after .spec-agit--selected,
input[id="cat-feed-product-1"]:disabled ~ ul label[for="cat-feed-product-1"] + .feed-list__item-background::after .spec-agit--disabled,
input[id="cat-feed-product-3"]:checked ~ .feed-list__item-background .spec-agit--selected,
input[id="cat-feed-product-3"]:disabled ~ ul label[for="cat-feed-product-3"] + .feed-list__item-background::after .spec-agit--disabled {
  display: block;
}

/*try to fix, mb it could work without id*/
input[id="cat-feed-product-2"]:checked ~ ul label[for="cat-feed-product-2"] + .feed-list__item-background::after .spec-agit--default,
input[id="cat-feed-product-2"]:disabled ~ ul label[for="cat-feed-product-2"] + .feed-list__item-background::after .spec-agit--default,
input[id="cat-feed-product-1"]:checked ~ ul label[for="cat-feed-product-1"] + .feed-list__item-background::after .spec-agit--default,
input[id="cat-feed-product-1"]:disabled ~ ul label[for="cat-feed-product-1"] + .feed-list__item-background::after .spec-agit--default,
input[id="cat-feed-product-3"]:checked ~ .feed-list__item-background .spec-agit--default,
input[id="cat-feed-product-3"]:disabled ~ ul label[for="cat-feed-product-3"] + .feed-list__item-background::after .spec-agit--default {
  display: none;
}

/*fix it*/
input[id="cat-feed-product-1"]:disabled ~ ul label[for="cat-feed-product-1"] + .feed-list__item-background::after .spec-agit li,
input[id="cat-feed-product-2"]:disabled ~ ul label[for="cat-feed-product-2"] + .feed-list__item-background::after .spec-agit li,
input[id="cat-feed-product-3"]:disabled ~ ul label[for="cat-feed-product-3"] + .feed-list__item-background::after .spec-agit li {
  color: rgba(255, 255, 102, 1);
}

.spec-feature .spec-servings ul,
.spec-feature .spec-agit ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.spec-feature .spec-slogan {
  font-size: 16px;
  order: 1;
  margin-top: 16px;
}

.label-link {
  color: rgba(22, 152, 217, 1);
  text-decoration: underline;
  text-decoration-style: dashed;
}

.background-cap {
  position: absolute;
  width: 320px;
  height: 60px;
  top: 0;
  z-index: -1;
}
